* {
	padding: 0px;
	margin: 0px; 
	font-family: 'Roboto Slab', serif;
}
body {
	display: flex;
	flex: 1;
	flex-direction: column;
}

ul {
	margin: 0px;
}

li {
	list-style: none;
	color: #E5E7EB;
	font-size: 18px;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #3882F6;
	transition: 0.5s;
}

button:hover {
	background-color: #E5E7EB;
	color: #3882F6;
	transition: 0.5s;
}

h1,
h2,
h3,
h4,
p {
	padding: 0px;
	margin: 0px;
}

.header {
	font-size: 24px;
	color: #F9FAF8;
	padding-left: 240px;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1F2937;
	height: 64px;
}

.header-container .links {
	display: flex;
	padding-right: 240px;
	gap: 24px;
}

.content-container {
	display: flex;
	justify-content: space-between;
	background-color: #1F2937;
	padding: 64px 0px;
}

.content-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 240px;
}

.content-text h2 {
	font-size: 48px;
	color: #F9FAF8;
	font-weight: 800;
}

.content-text p {
	font-size: 18px;
	color: #E5E7EB;
	padding: 24px 0px;
}

.sign-up {
	background-color: #3882F6;
	box-sizing: content-box;
	width: 96px;
	height: 36px;
	border: 2px solid #E5E7EB;
	border-radius: 5px;
	padding: 4px 16px;
	color: #E5E7EB;
	flex-shrink: 0;
}

img {
	width: 300px;
	padding-right: 240px;
}

.info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px;
}

.info-container h3 {
	font-size: 36px;
	font-weight: 800;
	color: #1F2937;
}

.info-item {
	display: flex;
	padding: 24px 0px 48px 0px;
	gap: 48px;
}

.info-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 150px;
}

.info-box p {
	text-align: center;
}

.box {
	border: 4px solid #3882F6;
	border-radius: 8px;
	width: 140px;
	height: 140px;
}

.quote {
	display: flex;
	flex-direction: column;
	background-color: #E5E7EB;
	padding: 120px 240px 120px 240px;
}

.quote .text {
	font-size: 36px;
	color: #1F2937;
	font-style: italic;
}

.quote .author {
	align-self: flex-end;
	padding-right: 96px;
	font-size: 24px;
	color: #1F2937;
	font-weight: 200;
}

.action {
	display: flex;
	justify-content: space-around;
	background-color: #3882F6;
	margin: 96px 192px;
	padding: 48px;
	border-radius: 8px;
}

.action .action-text {
	color: #F9FAF8;
}

.action-text h4 {
	font-size: 24px;
	font-weight: 900;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1F2937;
	height: 96px;
}

.footer p {
	color: #E5E7EB;
}